pinecone
langchain
transformers
numpy
pypdf
huggingface_hub
gensim
streamlit
sentence-transformers
python-dotenv
PyPDF2
langchain-pinecone
pinecone-notebooks
pinecone-client>=3.0.0
langchain-community
